<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.shop.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.jd.shop.model.Cart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_cart" property="userCart" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_cart
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->
  <select id="selectCartByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_cart
    where user_cart = #{userid,jdbcType=INTEGER}
  </select>

  <select id="cartitem" resultType="map" parameterType="java.lang.Integer">
    SELECT
    t_goods.id,
    t_goods.`name`,
    t_goods.freight,
    t_goods.gclass,
    t_cartitem.id AS ciid,
    t_cartitem.amount,
    t_cartitem.tprice AS price,
    t_format.id AS fid,
    t_format.fname AS fname,
    t_cart.user_cart,
    t_cartitem.tprice*t_cartitem.amount AS `all`,
    t_image.title
    FROM
    t_cart
    Right JOIN t_cartitem ON t_cartitem.item_cart = t_cart.id
    LEFT JOIN t_goods ON t_cartitem.item_goods = t_goods.id
    LEFT JOIN t_image ON t_image.image_list=t_goods.piclist_goods
    LEFT JOIN t_format ON t_cartitem.item_format = t_format.id
    WHERE user_cart=#{userid,jdbcType=INTEGER}
    GROUP BY t_cartitem.id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- new -->
  <delete id="clearCart" parameterType="java.lang.Integer">
    DELETE
    t_cartitem
    FROM
    t_user
    JOIN t_cart ON t_user.id = t_cart.user_cart
    JOIN t_cartitem ON t_cart.user_cart = t_cartitem.item_cart
    WHERE t_user.id=#{uid,jdbcType=INTEGER}
  </delete>

  <delete id="delCartByUserIsDel" parameterType="java.lang.Integer">
    DELETE FROM t_cart WHERE user_cart=#{userid,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.jd.shop.model.Cart" >
    insert into t_cart (id, user_cart)
    values (#{id,jdbcType=INTEGER}, #{userCart,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.shop.model.Cart" useGeneratedKeys="true" keyProperty="id">
    insert into t_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCart != null" >
        user_cart,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCart != null" >
        #{userCart,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.shop.model.Cart" >
    update t_cart
    <set >
      <if test="userCart != null" >
        user_cart = #{userCart,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.shop.model.Cart" >
    update t_cart
    set user_cart = #{userCart,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>