<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.shop.dao.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.jd.shop.model.History" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="viewtime" property="viewtime" jdbcType="TIMESTAMP" />
    <result column="user_history" property="userHistory" jdbcType="INTEGER" />
    <result column="goods_history" property="goodsHistory" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, viewtime, user_history, goods_history
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_history
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--new -->
  <!-- 查询goodsid是否存在 -->
  <select id="isExist" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT 1 FROM t_history
    where goods_history=#{gid,jdbcType=INTEGER} and user_history=#{uid,jdbcType=INTEGER}
  </select>

  <!--根据用户id查询-->
  <!--<select id="findByUserId" resultType="com.jd.shop.model.History" parameterType="java.lang.Integer" >-->
    <!--select-->
    <!--t.* , g.id goodId ,g.name , g.price-->
    <!--from t_history t LEFT OUTER JOIN t_goods g ON t.goods_history = g.id-->
    <!--where user_history = #{userId,jdbcType=INTEGER}-->
  <!--</select>-->
  <select id="findByUserId" resultType="com.jd.shop.model.History" parameterType="java.lang.Integer">
    SELECT
    t_history.id,
    t_history.viewtime,
    t_history.goods_history as goodsHistory,
    t_goods.`name`,
    t_goods.price,
    t_image.title
    FROM
    t_history
    INNER JOIN t_goods ON t_history.goods_history = t_goods.id
    INNER JOIN t_image ON t_goods.piclist_goods = t_image.image_list
    WHERE
    t_history.user_history = #{userId,jdbcType=INTEGER}
    GROUP BY
    t_goods.id
  </select>

  <!-- 上月记录 -->
  <select id="findByUidLast" resultType="com.jd.shop.model.History" parameterType="java.lang.Integer">
    SELECT
    t_history.id,
    t_history.viewtime,
    t_history.goods_history as goodsHistory,
    t_goods.`name`,
    t_goods.price,
    t_image.title
    FROM
    t_history
    INNER JOIN t_goods ON t_history.goods_history = t_goods.id
    INNER JOIN t_image ON t_goods.piclist_goods = t_image.image_list
    WHERE
    t_history.user_history = #{userId,jdbcType=INTEGER}
    and date_format(t_history.viewtime,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')
    GROUP BY
    t_goods.id
  </select>

  <!-- 本月记录 -->
  <select id="findByUidThis" resultType="com.jd.shop.model.History" parameterType="java.lang.Integer">
    SELECT
    t_history.id,
    t_history.viewtime,
    t_history.goods_history as goodsHistory,
    t_goods.`name`,
    t_goods.price,
    t_image.title
    FROM
    t_history
    INNER JOIN t_goods ON t_history.goods_history = t_goods.id
    INNER JOIN t_image ON t_goods.piclist_goods = t_image.image_list
    WHERE
    t_history.user_history = #{userId,jdbcType=INTEGER}
    and date_format(t_history.viewtime,'%Y-%m')=date_format(now(),'%Y-%m')
    GROUP BY
    t_goods.id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.shop.model.History" >
    insert into t_history (id, viewtime, user_history, 
      goods_history)
    values (#{id,jdbcType=INTEGER}, #{viewtime,jdbcType=TIMESTAMP}, #{userHistory,jdbcType=INTEGER}, 
      #{goodsHistory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.shop.model.History" >
    insert into t_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewtime != null" >
        viewtime,
      </if>
      <if test="userHistory != null" >
        user_history,
      </if>
      <if test="goodsHistory != null" >
        goods_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="viewtime != null" >
        #{viewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userHistory != null" >
        #{userHistory,jdbcType=INTEGER},
      </if>
      <if test="goodsHistory != null" >
        #{goodsHistory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.shop.model.History" >
    update t_history
    <set >
      <if test="viewtime != null" >
        viewtime = #{viewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userHistory != null" >
        user_history = #{userHistory,jdbcType=INTEGER},
      </if>
      <if test="goodsHistory != null" >
        goods_history = #{goodsHistory,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.shop.model.History" >
    update t_history
    set viewtime = #{viewtime,jdbcType=TIMESTAMP},
      user_history = #{userHistory,jdbcType=INTEGER},
      goods_history = #{goodsHistory,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--删除个人历史记录-->
  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from t_history
    where user_history = #{userId,jdbcType=INTEGER}
  </delete>
</mapper>