<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.shop.dao.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.jd.shop.model.Image" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="server" property="server" jdbcType="VARCHAR" />
    <result column="image_list" property="imageList" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, filename, server, image_list
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_image
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.shop.model.Image" >
    insert into t_image (id, title, filename, 
      server, image_list)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{server,jdbcType=VARCHAR}, #{imageList,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.shop.model.Image" keyProperty="id" useGeneratedKeys="true" >
    insert into t_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="server != null" >
        server,
      </if>
      <if test="imageList != null" >
        image_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="server != null" >
        #{server,jdbcType=VARCHAR},
      </if>
      <if test="imageList != null" >
        #{imageList,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.shop.model.Image" >
    update t_image
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="server != null" >
        server = #{server,jdbcType=VARCHAR},
      </if>
      <if test="imageList != null" >
        image_list = #{imageList,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.shop.model.Image" >
    update t_image
    set title = #{title,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      server = #{server,jdbcType=VARCHAR},
      image_list = #{imageList,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>