<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.shop.dao.PicListMapper" >
  <resultMap id="BaseResultMap" type="com.jd.shop.model.PicList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="listname" property="listname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, listname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_piclist
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->
  <select id="iscreate" parameterType="java.lang.String" resultType="java.lang.String">
    select 1
    from t_piclist
    where listname = #{listname , jdbcType=VARCHAR}
  </select>

  <select id="getid" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id
    from t_piclist
    where listname = #{listname , jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_piclist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.shop.model.PicList" >
    insert into t_piclist (id, listname)
    values (#{id,jdbcType=INTEGER}, #{listname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.shop.model.PicList" >
    insert into t_piclist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="listname != null" >
        listname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="listname != null" >
        #{listname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.shop.model.PicList" >
    update t_piclist
    <set >
      <if test="listname != null" >
        listname = #{listname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.shop.model.PicList" >
    update t_piclist
    set listname = #{listname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>